*{
    padding: 0px;
    margin: 0px;
     box-sizing: border-box;
     font-family: sans-serif;
    

}
header{
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 10px;
   
 
    
}
.logo{
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;     
}
span{
    margin-left: 20px;
}

button{
    border-radius: 30px;
    color:#F53855;
    border: 1px solid #F53855;
    background-color: white;
    padding: 8px 28px;
}
.left-right{
    display: flex;
    margin-top: 30px;
    gap:28px;
}
.left{
    
    width: 700px;
    height: 500px;
    margin-left:150px;
}
.right{
    
    width: 700px;
    height: 500px;
    margin-right: 140px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    word-spacing: 10px;
    line-height: 70px;
    margin-top: 30px;
}
h6{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-top: 22px;
}
.btn button{
    margin-top:40px;
    padding: 15px 70px;
    border-radius: 10px;
    background-color: #F54747;
    font-weight: bold;
    font-size: 16px;
    color: aliceblue;
    box-shadow: 0px 1px 50px 1px #F5383859;
}
.detail{
    display: flex;
    height: 18vh;
    flex-wrap: wrap;
    margin: 2px 90px;
    
    justify-content: space-around;
    border: 1px solid white; 
    border-radius: 10px;
    /* box-shadow: 0px 1px 50px 1px white; */
    

    
    /* padding: 10px 30px; */
}
.us{
    margin: -55px 70px;
    font-weight: bold;
    font-size: 1.5rem;
    
    /* line-height: -20px; */
}
.details, .users  i{
    font-size: 25px;
     color:#F53838;
      border:1px solid red; 
      border-radius:25px; 
      padding: 12px 15px; 
      background-color:#FFECEC;
}
.users{
    /* width: 700px;
    height: 500px; */
    margin-left: 150px;
    margin-top: 40px;
    border-right: 3px solid #EEEFF2;
   
    
}
.server i{
    margin-left: -5px;
    margin-top: 40px;
    font-size: 25px;
     color:#F53838;
      border:1px solid red; 
      border-radius:25px; 
      padding: 12px 15px; 
      background-color:#FFECEC;
}
h2{
    line-height: 35px;
    font-size: 1rem;
    word-spacing: 5px;
    margin-top: 10px;
    
}
.right p{
    margin-top: 15px;
   
}
.right p i{
    color: green;
    padding: 5px;
}

.plan {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    /* word-spacing: 10px; */
}
.plan h1{
    word-spacing: 0px;
    font-size: 32px;
}
.rectangle{
    display: flex;
    gap: 30px;
    margin: 40px 150px;
    
}

.box{
    width: 330px;
    height: 760px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    
}
.suprise{
    text-align: center;
    font-weight: bold;
    margin-top: 90px;
  
}

 
.box h4{
    
    font-size: 20px;
    padding: 20px;
    
    
} 
.box p{
    font-size: 15px;
    margin: 10px 20px;
    padding: 10px 50px;

    
}
.box i{
    color: green;
    margin: 2px;

}
.box h2{
    
     font-weight: bold;
    font-size: 18px; 
}
.box button{
    border: 1px solid red;
    font-weight: bold;
   padding: 10px 80px;
   
}
.boxend{
    text-align: center;
    margin-top: 120px;
}

.boxend2{
    text-align: center;
    margin-top: 70px;
}
.boxend3{
    text-align: center;
     margin-top: 20px;
}
    .last{
        border: 2px solid red;
        border-radius: 10px;
    }
     

.boxend3 button{
    background-color: red;
    color: #FFF;
    box-shadow: 0px 1px 20px 1px #9c6868;
}
.mapcont{
    text-align: center;
    margin-top: 90px;
}
.mapcont h1,.trust h1{
    font-size: 32px;
    line-height: 40px;
}
.mapcont h3,.trust h3{
    margin-top: 40px;
    color:  #4F5665;
    

}
.map img{
    margin-left:150px;
    margin-top: 120px;

}
.social{
    display: flex;
    /* background-color: blue; */
    /* height: 200px; */
    justify-content:space-evenly;
    margin-top: 80px; 
}
.social .redit{
    margin-top: 30px;
}
.social .amazon{
    margin-top: -50px;
}
.social .discord{
    margin-top: 20px;
}
.social .spotify{
    margin-top: 20px;
}
.trust{
    text-align: center;
    margin-top: 70px;
}
.feedback{
    /* background-color: #4F5665; */
    
    display: flex; 
    justify-content: space-around;
    
}
.robert, .jou, .christy{
    height: 230px;
    width: 400px;
   
    border: 3px solid red;
    border-radius: 10px;
    margin-top: 70px;
    
}
.robert{
    /* display: flex; */
    position: relative;
    background-color:#FFF;
    justify-content: space-around;
}
.robert .robimg img{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 20px 20px;
}
 .jouimg img{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 20px 20px;
}
.christy .christyimg img{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 20px 20px;
}
/* .name{
    margin: -103px 110px;
} */
.robnam, .jounam, .christynam{
    display: flex;
    gap: 10px;
}
.robcontent, .joucontent, .christycontent{
    text-align: center;

}

.robstar, .joustar, .christystar{
     color: #FEA250;

}

.robrating, .jourating, .christyrating{
    
    display: flex;
    gap: 10px;
    margin: -150px 300px;
}
/* .rating i{
    margin: -100px 40px;
} */
.robname, .jouname, .christyname{
    margin: 33px -5px;
    line-height: 22px;
}



/* .name, .rating{
    margin: 20px 20px;
}
.name{
    margin-left: -50px   ;
} */
/* .name h5{
font-size: 12px;
padding: 10px 10px;
} */
.robrating{
    padding: 10px;
}
.subscribe{
    background-color: #FFFFFF;
    color: red;
    width: 1060px;
    height: 150px;
    position: relative;
    top: -80px;
    left: 290px;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    
    justify-content: space-between;
}
.subscribe p{
    font-size: 25px;
    font-weight: bold;
    color: black;
    line-height: 20px;
    margin-top: 15px;
    line-height: 30px;
    margin-left: 50px;
   
}
.subscribe h5{
    color:#4F5665;
    margin-left: 50px;
}

.subscribe button{

    padding: 15px 50px;
    border-radius: 10px;
    background-color: #F54747;
    margin-top: 35px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 16px;
    color: aliceblue;
    box-shadow: 0px 1px 50px 1px #F5383859;
}

footer{
background-color: #F8F8F8;
margin-top: 150px;
width: 100%;
height: 350px;

}
.copy{
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;
}
footer .last1{
    text-align: justify;

}
footer .last2,footer .last3,footer .last4 {
   
   
    list-style: none;
  
}

footer .last2 li,footer .last4 li,footer .last3 li{
    padding: 4px;
}

.socialicon {
    display: flex;
    gap: 10px;
    list-style: none;
}